@import url( 'https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap') ;

:root {

  --blue: rgb(35, 87, 106);

  --yellow: rgb(198, 236, 174);

  --green: rgb(148, 201, 169);

  --greendark: rgb(34, 99, 97);

  --orange: rgb(211, 172, 99);

}

.container {
  align-items: center;
  background-image: linear-gradient(var(--greendark), var(--green), var(--yellow));
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: Impact , sans-serif;
  font-size: 40px;
  justify-content: space-around;
  text-shadow: 0.8px 0.8px black;
  width: 100%;
}

.header h1 {
  animation: pulse 3s infinite linear;
  animation-direction: alternate;
}

@keyframes pulse {

  0% {
    transform: scale(1.1);
  }
}

.main {
  align-items: center;
  color: #226361;
  display: flex;
  flex-flow: column;
  font-family: Tajawal , sans-serif;
  justify-content: center;
  width: 100vw;
}

.main h2 {
  color: #226361;
  font-size: 60px;
  text-shadow: 0.8px 0.8px black;
}

.main hr {
  border: solid 0.1px #226361;
  width: 20%;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  width: 70%;
}

.list li {
  align-items: center;
  border: solid 0.1px rgba(255, 255, 255, 0.244);
  border-radius: 08px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-flow: column nowrap;
  font-size: 20px;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 100px;
}

.list li img {
  border-radius: 8px;
  width: 100%;
}

.main button {
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #226361;
  font-family: Tajawal , sans-serif;
  font-size: 20px;
  margin: 50px;
  padding: 10px 90px;
  transition: all 0.8s linear;
}

.main button:hover {
  background-color: rgb(35, 87, 106);
  border: none;
  color: white;
}

.list li p:nth-child( 3 ) {
  font-size: 30px;
}
